*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100dvh;
    background: linear-gradient(to top right, pink , white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-container{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.clock-container__buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type="time"], #set-alarm, #clear-alarm{
    height: 40px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

#set-alarm{
    background: greenyellow;
}

#clear-alarm{
    background: orangered;
}

#set-alarm:hover, #clear-alarm:hover{
    cursor: pointer;
    background: white;
    color: black;
}