body{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0px;
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    height: 30px;
}

ul li{
    margin: 0 23px;
    list-style: none;
    color: white;
}

