*{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid black;
    background-color: cyan;
    padding: 20px;
    margin-inline: auto;
    width: 400px;
    text-align: center;
    margin-top: 100px;
}

div ul{
    list-style: none;
}

.items{
    text-align: center;
    display: block;
    margin-block: 5px;
    border: 1px solid black;
}
